#contenedor-ejercicio {
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-color: $colorFondo;

    .contenedor-todo-ejercicio {
        margin-top: 8rem;
        margin-left: 3.5rem;

    }
    .form-group{
        margin-bottom: 2rem;
        font-size: 20px;
        color:white;
        select{
            padding: 5px;
            width: 230px;
            font-family: 'Domine', serif;    

        }
        input{
            padding: 5px;
            margin-bottom: 10px;
            font-family: 'Domine', serif;    
            
            
        }
      
        

        #botonEjercicio3, #botonEjercicio2, #botonEjercicio {
            padding: 7px 15px;
            font-size: 15px;

        }
        #botonEjercicio3:hover, #botonEjercicio2:hover, #botonEjercicio:hover{
            background-color: orange;
            transform: scale(1.2);
            transition: .2s;
        }
    }

    .text-explicacion-ejercicio {
        font-size: 3rem;
        color: orange;;
        margin-bottom: 4rem;
        width: 60%;
    }

    .linkParaVerHistorial {
        font-size: 35px;
        text-decoration: none;
        list-style: none;
        color: orange;
    }

    .linkParaVerHistorial:hover {
        color: black;
        transition: .2s;
    }
    .imagenEjercicio{
        position: absolute;
        right: 6%;
        top: 25%;
        height: 400px;
        cursor: pointer;

        
    }


}